rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sessions/{token} {
      allow read, write: if true;
    }
    match /users/{id} {
      allow read, write: if true;
    }
    match /bureaux/{id} {
      allow read, write: if true;
    }
    match /programmes/{id} {
      allow read, write: if true;
    }
    match /resultats/{id} {
      allow read, write: if true;
    }
  }
}